<mat-card>
    <mat-toolbar>
        Lista de Produtos
    </mat-toolbar>
<div *ngIf="listaTableProdutos | async as listaProdutos; else tempoEspera">
<table mat-table [dataSource]="listaProdutos" class="mat-elevation-z8">

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Nome Column -->
    <ng-container matColumnDef="descricao">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.descricao}} 
        <mat-icon aria-hidden="false" aria-label="Example home icon">{{element.descricao.split(' ')[0] | category}}</mat-icon>
      </td>
    </ng-container>
  
    <!-- Descricao Column -->
    <ng-container matColumnDef="serialNo">
      <th mat-header-cell *matHeaderCellDef> Descricao </th>
      <td mat-cell *matCellDef="let element"> {{element.serialNo}} </td>
    </ng-container>

    <!-- Valor Column -->
    <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef> Valor(R$) </th>
        <td mat-cell *matCellDef="let element"> {{element.valor}} </td>
    </ng-container>

    <!-- Acoes Column -->
    <ng-container matColumnDef="acoes">
      <mat-header-cell *matHeaderCellDef style="padding-top: 3%;">
        <button mat-flat-button color="warn" (click)="criarNovoProduto()">add</button>
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button color="warn" aria-label="acao de editar um registro">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" aria-label="acao de excluir um registro">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<ng-template #tempoEspera>
    <div class="loading-style">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
</mat-card>